/* variables go up the top */
/* adding variables make adding hex codes easier */
:root {
    --color-accent: #5eead4;
    --background-accent: #152B39;
    --color-highlight: #e2e8f0;
}

html {
    scroll-behavior: smooth;
}

/* asterix selects everything */
* {
    /* making a box in the window to prevent overflow */
    box-sizing: border-box;
    /* outline: 2px solid red; */
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body {
    background: #0f172a;
    color: #94a3b8;
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 6rem;
}

.name-title {
    font-weight: 700;
}

p {
    font-weight: 300;
    line-height: 1.5rem;
}

p,
h2 {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
    background-color: var(--color-accent);
    color: #0f172a;
}


header,
main,
footer {
    position: relative;
    z-index: 10;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
}

header h1,
header h4,
.lightText {
    color: var(--color-highlight)
}

.lightText,
.nav-text p {
    letter-spacing: 1.8px;
    font-size: 0.9rem;
    font-weight: 600;
}

.social-link-container {
    display: flex;
    padding-top: 0.5rem;
    gap: 1rem;
}

.social-link {
    font-size: 25px;
    color: #94A2B8;
    text-decoration: none;
}

.social-link:hover {
    color: white;
    transition-duration: 200ms;
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: 600;
    font-size: 45px;
}

header h4 {
    font-weight: 400;
}

nav {
    display: none;
}

nav a {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


nav a:hover .nav-line {
    background: var(--color-accent);
    width: 28px;
}

.nav-line {
    height: 1px;
    width: 20px;
    background: var(--color-highlight);
    transition-duration: 200ms;
}

.nav-text p {
    padding-left: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    scroll-margin-top: 6rem;
}

section h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

/* use this for keeping headers at the top until arriving at the next section */
.sticky-header {
    position: sticky;
    top: 0;
    padding: 1rem 0rem;
    backdrop-filter: blur(8px);
}

.sticky-header h2 {
    position: relative;
    z-index: 2;
}

.sticky-header::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #0f172a;
    opacity: 0.5;
}

.about-contents {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
}

.about-section,
.experience-section {
    padding-bottom: 4rem;
}

.anchor-text,
.nav-text {
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 200ms;
}

.anchor-text:active {
    text-decoration: none;
}

.anchor-text:hover,
.nav-text:hover {
    color: var(--color-accent);
}

.anchor-text::selection {
    background-color: var(--color-accent);
}

.experience-contents,
.project-contents {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 2rem;
}

.experience-contents .tenure {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.experience-card,
.project-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.experience-card {
    gap: 0.5rem;

}

.project-card {
    gap: 1.5rem;
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.experience-contents p {
    font-size: 0.9rem;
}

.card-header-link {
    text-decoration: none;
}

.card-header {
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 0.5rem;
    color: var(--color-accent);
}

.tag {
    border-radius: 0.999rem;
    padding: 0.3rem 0.9rem;
    background-color: var(--background-accent);
}

.tag p {
    font-size: 0.8rem;
}

.project-image-container {
    max-width: 200px;
    overflow: hidden;
    display: grid;
    place-items: center;
    flex-direction: column;
    aspect-ratio: 16 / 9;
    order: 2;
    border-radius: 0.25rem;
}

.project-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.project-stat-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.7rem;
}

.project-stat-link p {
    font-size: 0.8rem;
}

.project-archive-link {
    position: relative;
    color: var(--color-highlight);
    text-decoration: none;
    transition-duration: 200ms;
    margin-right: auto;
}

.project-archive-link span {
    transition-duration: 200ms;
}

.project-archive-link:hover span {
    padding-left: 0.5rem;
}

.project-archive-link:hover::after {
    background: var(--color-accent);
    transition-duration: 200ms;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

.scroll-to-top {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--color-accent);
    background: var(--background-accent);
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    border-radius: 100%;
    overflow: hidden;
    transition-duration: 200ms;
}

.scroll-to-top:hover {
    opacity: 0.6;
}

@media (min-width: 640px) {

    body {
        padding: 5rem 3rem;
        margin: 0;
        height: 100%;
    }

    .project-card,
    .experience-card {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .card-column {
        grid-column: span 3 / span 3;
    }

    .project-image-container {
        order: 0;
    }

    header {
        max-width: unset;
    }

    header h1 {
        font-size: 3rem;
    }

    header h4 {
        font-size: 1.4rem;
    }

    header p {
        max-width: 300px;
    }

    .social-link-container {
        gap: 1.5rem;
    }

    .social-link-container i {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
        padding: 12rem;
        padding-top: 0;
    }

    header {
        position: sticky;
        top: 0;
        margin-left: auto;
        height: fit-content;
        padding-bottom: 6rem;
    }

    header h1 {
        font-size: 3rem;
    }

    header h4 {
        font-size: 1.4rem;
    }
    
    header p {
        max-width: 300px;
    }

    header p {
        max-width: 300px;
    }

    nav {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
    }

    nav a {
        font-size: 1rem;
    }

    .social-link-container {
        gap: 1.5rem;
    }

    .social-link-container i {
        font-size: 2rem;
    }

    header,
    main {
        padding-top: 6rem;
        max-width: 700px;
        width: 100%;
    }

    main {
        margin-right: auto;
    }

    .sticky-header {
        display: none;
    }

      /* ADDED POST TUTORIAL */
      .project-card,
      .experience-card {
          padding: 1rem;
          border-radius: 0.5rem;
          border: 1px solid transparent;
          transition-duration: 200ms;
      }
  
      .project-card:hover,
      .experience-card:hover {
          background: #1b2541;
          border: 1px solid #94a3b826;
          box-shadow: 0 0 20px 3px #0f172a;
      }

      .project-archive-link,
      .resume-link {
          padding-left: 1rem;
      }

    footer {
        grid-column: span 2 / span 2;
        flex-direction: row;
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
    }

   .project-archive-link {
        padding-top: 3rem;
   }

   .scroll-to-top {
        margin-left: auto;
   }
}
